<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DiamondStar Management System</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/style.css') }}"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
      <div class="container-fluid">
        <!-- DROPDOWN TRIGGER -->
        <a
          class="navbar-brand dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          DSMS
        </a>

        <!-- DROPDOWN MENU -->
        <ul class="dropdown-menu">
          <li>
            <button
              class="dropdown-item"
              data-bs-toggle="modal"
              data-bs-target="#addStoneModal"
            >
              Add Stone
            </button>
          </li>

          <li>
            <button
              class="dropdown-item"
              data-bs-toggle="modal"
              data-bs-target="#addStonesModal"
            >
              Add Stones (CSV)
            </button>
          </li>

          <li>
            <button
              class="dropdown-item"
              data-bs-toggle="modal"
              data-bs-target="#uploadRapaport"
            >
              Upload Rapaport
            </button>
          </li>
          <li>
            <button
              class="dropdown-item"
              data-bs-toggle="modal"
              data-bs-target="#uploadDiscount"
            >
              Upload Discounts
            </button>
          </li>
          <li>
            <button
              class="dropdown-item"
              data-bs-toggle="modal"
              data-bs-target="#returnModal"
            >
              Return
            </button>
          </li>
        </ul>

        <!-- NAV LINKS -->
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a
                class="nav-link fs-5"
                href="{{ url_for('inventory.inventory') }}"
              >
                Inventory
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="{{ url_for('clients.clients') }}"
                >Clients</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link fs-5"
                href="{{ url_for('transactions.transactions') }}"
              >
                Transactions
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="{{ url_for('barcode.barcodes') }}"
                >Barcodes</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="modal fade" id="addStoneModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Stone</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form method="POST" action="{{ url_for('add_stone.add_stone') }}">
            <div class="modal-body">
              <div class="mb-3">
                <label class="form-label">Stock Number Preview</label>
                <input
                  type="text"
                  class="form-control"
                  id="stockPreview"
                  readonly
                  placeholder="Auto Generated"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Status</label>
                <select class="form-select" name="status" required>
                  <option value="" disabled selected="selected"></option>
                  <option value="available">available</option>
                  <option value="hold">hold</option>
                  <option value="for memo">for memo</option>
                  <option value="memo">memo</option>
                  <option value="sold">sold</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Shape</label>
                <select class="form-select" name="shape" id="shape" required>
                  <option value="" disabled selected="selected"></option>
                  <option value="Round">Round</option>
                  <option value="Heart">Heart</option>
                  <option value="Pear">Pear</option>
                  <option value="Marqueis">Marqueis</option>
                  <option value="Oval">Oval</option>
                  <option value="Aser">Aser</option>
                  <option value="Emerald">Emerald</option>
                  <option value="Cousand">Cousand</option>
                  <option value="Radiant">Radiant</option>
                  <option value="Princess">Princess</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Weight</label>
                <input
                  type="number"
                  step="0.01"
                  class="form-control"
                  name="weight"
                  id="weight"
                  required
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Size</label>
                <select class="form-select" name="size" required>
                  <option value="" disabled selected="selected"></option>
                  <option value="0.18-">0.18-</option>
                  <option value="0.18-">0.18+</option>
                  <option value="0.23+">0.23+</option>
                  <option value="0.30+">0.30+</option>
                  <option value="0.40+">0.40+</option>
                  <option value="0.45+">0.45+</option>
                  <option value="0.50+">0.50+</option>
                  <option value="0.58+">0.58+</option>
                  <option value="0.70+">0.70+</option>
                  <option value="0.78+">0.78+</option>
                  <option value="0.90+">0.90+</option>
                  <option value="0.95+">0.95+</option>
                  <option value="1.00+">1.00+</option>
                  <option value="1.20+">1.20+</option>
                  <option value="1.50+">1.50+</option>
                  <option value="2.00+">2.00+</option>
                  <option value="3.00+">3.00+</option>
                  <option value="4.00+">4.00+</option>
                  <option value="5.00+">5.00+</option>
                  <option value="6.00+">6.00+</option>
                  <option value="7.00+">7.00+</option>
                  <option value="8.00+">8.00+</option>
                  <option value="9.00+">9.00+</option>
                  <option value="10.00+">10.00+</option>
                  <option value="11.00+">11.00+</option>
                  <option value="12.00+">12.00+</option>
                  <option value="13.00+">13.00+</option>
                  <option value="14.00+">14.00+</option>
                  <option value="15.00+">15.00+</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Color Grade</label>
                <select class="form-select" name="color_grade" required>
                  <option value="" disabled selected="selected"></option>
                  <option value="D">D</option>
                  <option value="E">E</option>
                  <option value="F">F</option>
                  <option value="G">G</option>
                  <option value="H">H</option>
                  <option value="I">I</option>
                  <option value="J">J</option>
                  <option value="K">K</option>
                  <option value="L">L</option>
                  <option value="M">M</option>
                  <option value="N">N</option>
                  <option value="OP">OP</option>
                  <option value="QR">QR</option>
                  <option value="ST">ST</option>
                  <option value="UV">UV</option>
                  <option value="WX">WX</option>
                  <option value="YZ">YZ</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Clarity</label>
                <select class="form-select" name="clarity" required>
                  <option value="" disabled selected="selected"></option>
                  <option value="FL">FL</option>
                  <option value="IF">IF</option>
                  <option value="VVS1">VVS1</option>
                  <option value="VVS2">VVS2</option>
                  <option value="SI1">SI1</option>
                  <option value="SI2">SI2</option>
                  <option value="SI3">SI3</option>
                  <option value="I1">I1</option>
                  <option value="I2">I2</option>
                  <option value="I3">I3</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Measurements</label>
                <input type="text" name="measurements" required />
              </div>

              <div class="accordion" id="stoneaccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#cutDetails"
                    >
                      Cut Details
                    </button>
                  </h2>

                  <div id="cutDetails" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label class="form-label">Cut Grade</label>
                        <select class="form-select" name="cut_grade">
                          <option
                            value=""
                            disabled
                            selected="selected"
                          ></option>
                          <option value="Poor">Poor</option>
                          <option value="Fair">Fair</option>
                          <option value="Ideal">Ideal</option>
                          <option value="Good">Good</option>
                          <option value="Very">Very Good</option>
                          <option value="Excellent">Excellent</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Polish</label>
                        <select class="form-select" name="polish">
                          <option
                            value=""
                            disabled
                            selected="selected"
                          ></option>
                          <option value="Poor">Poor</option>
                          <option value="Fair">Fair</option>
                          <option value="Ideal">Ideal</option>
                          <option value="Good">Good</option>
                          <option value="Very">Very Good</option>
                          <option value="Excellent">Excellent</option>
                        </select>
                        <div class="mb-3">
                          <label class="form-label">Symmetry</label>
                          <select class="form-select" name="symmetry">
                            <option
                              value=""
                              disabled
                              selected="selected"
                            ></option>
                            <option value="Poor">Poor</option>
                            <option value="Fair">Fair</option>
                            <option value="Ideal">Ideal</option>
                            <option value="Good">Good</option>
                            <option value="Very">Very Good</option>
                            <option value="Excellent">Excellent</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#fluorescence"
                    >
                      Fluorescence
                    </button>
                  </h2>
                  <div id="fluorescence" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label class="form-label">Strength</label>
                        <select
                          class="form-select"
                          name="fluorescence_strength"
                        >
                          <option
                            value=""
                            disabled
                            selected="selected"
                          ></option>
                          <option value="None">None</option>
                          <option value="Faint">Faint</option>
                          <option value="Very">Very Slight</option>
                          <option value="Slight">Slight</option>
                          <option value="Medium">Medium</option>
                          <option value="Strong">Strong</option>
                          <option value="Very Strong">Very Strong</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Color</label>
                        <select class="form-select" name="fluorescence_color">
                          <option
                            value=""
                            disabled
                            selected="selected"
                          ></option>
                          <option value="Blue">Blue</option>
                          <option value="Yellow">Yellow</option>
                          <option value="Green">Green</option>
                          <option value="White">White</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#fancyColor"
                    >
                      Fancy Color
                    </button>
                  </h2>
                  <div id="fancyColor" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label class="form-label">Color</label>
                        <select class="form-select" name="fancy_color">
                          <option
                            value=""
                            disabled
                            selected="selected"
                          ></option>
                          <option value="Yellow">Yellow</option>
                          <option value="Brown">Brown</option>
                          <option value="Gray">Gray</option>
                          <option value="Black">Black</option>
                          <option value="Green">Green</option>
                          <option value="Pink">Pink</option>
                          <option value="Purple">Purple</option>
                          <option value="Blue">Blue</option>
                          <option value="Orange">Orange</option>
                          <option value="White">White</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Intensity</label>
                        <select class="form-select" name="fancy_intensity">
                          <option
                            value=""
                            disabled
                            selected="selected"
                          ></option>
                          <option value="Faint">Faint</option>
                          <option value="Very Light">Very Light</option>
                          <option value="Light">Light</option>
                          <option value="Fancy Light">Fancy Light</option>
                          <option value="Fancy">Fancy</option>
                          <option value="Fancy Intense">Fancy Intense</option>
                          <option value="Fancy Dark">Fancy Dark</option>
                          <option value="Fancy Deep">Fancy Deep</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Overtone</label>
                        <select class="form-select" name="overtone">
                          <option
                            value=""
                            disabled
                            selected="selected"
                          ></option>
                          <option value="Yellowish">Yellowish</option>
                          <option value="Brownish">Brownish</option>
                          <option value="Grayish">Grayish</option>
                          <option value="Greenish">Greenish</option>
                          <option value="Pinkish">Pinkish</option>
                          <option value="Purpleish">Purpleish</option>
                          <option value="Blueish">Blueish</option>
                          <option value="Orangey">Orangey</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2
                    class="accordion-header"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#proportions"
                  >
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#proportions"
                    >
                      Proportions
                    </button>
                  </h2>
                  <div id="proportions" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label class="form-label">Depth %</label>
                        <input type="number" step="0.01" name="depth_percent" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Table %</label>
                        <input type="number" step="0.01" name="table_percent" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Culet</label>
                        <select class="form-select" name="culet">
                          <option
                            value=""
                            disabled
                            selected="selected"
                          ></option>
                          <option value="None">None</option>
                          <option value="Very Small">Very Small</option>
                          <option value="Small">Small</option>
                          <option value="Meidum">Meidum</option>
                          <option value="Large">Large</option>
                          <option value="Very Large">Very Large</option>
                          <option value="Open">Open</option>
                          <option value="Abreded">Abreded</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Girdle</label>
                        <select
                          class="form-select"
                          multiple
                          size="2"
                          name="girdle"
                        >
                          <option
                            value=""
                            disabled
                            selected="selected"
                          ></option>
                          <option value="Extremely Thin">Extremely Thin</option>
                          <option value="Very Thin">Very Thin</option>
                          <option value="Thin">Thin</option>
                          <option value="Meidum">Meidum</option>
                          <option value="Thick">Thick</option>
                          <option value="Very Thick">Very Thick</option>
                          <option value="Extremely Thick">
                            Extremely Thick
                          </option>
                        </select>
                        <div class="mb-3">
                          <label class="form-label">Crown Height</label>
                          <input
                            type="number"
                            step="0.01"
                            name="crown_height"
                          />
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Crown Angle</label>
                          <input type="number" step="0.01" name="crown_angle" />
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Pavilion Depth</label>
                          <input
                            type="number"
                            step="0.01"
                            name="pavilion_depth"
                          />
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Pavilion Angle</label>
                          <input
                            type="number"
                            step="0.01"
                            name="pavilion_angle"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#pairing"
                      >
                        Pairing
                      </button>
                    </h2>
                    <div id="pairing" class="accordion-collapse collapse">
                      <div class="accordion-body">
                        <div class="mb-3">
                          <label class="form-label">Pair Number</label>
                          <input type="text" name="pair_number" />
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Pair Stock Number</label>
                          <input type="text" name="pair_stock_number" />
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Pair Separable</label>
                          <input type="checkbox" name="pair_separable" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#media"
                      >
                        Media
                      </button>
                    </h2>
                    <div id="media" class="accordion-collapse collapse">
                      <div class="accordion-body">
                        <div class="mb-3">
                          <label class="form-label">Picture</label>
                          <input type="text" name="picture_link" />
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Video</label>
                          <input type="text" name="video_link" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="submit" class="btn btn-secondary">
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addStonesModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Stones</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form
            method="POST"
            action="{{ url_for('add_stones.add_stones') }}"
            enctype="multipart/form-data"
          >
            <div class="modal-body">
              <input type="file" name="file" accept=".csv" />
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Upload CSV</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="uploadRapaport" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Upload Rapaport</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form
            method="POST"
            action="{{ url_for('upload_rapaport.upload_rapaport') }}"
            enctype="multipart/form-data"
          >
            <div class="modal-body">
              <label class="mt-3">Round Prices CSV</label>
              <input type="file" name="round_file" accept=".csv" required />

              <label class="mt-3">Pear Prices CSV</label>
              <input type="file" name="pear_file" accept=".csv" required />
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>

              <button type="submit" class="btn btn-primary">
                Upload Rapaport
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="uploadDiscount" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Upload Discounts</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <form
            method="POST"
            action="{{ url_for('discount.upload_discount') }}"
            enctype="multipart/form-data"
          >
            <div class="modal-body">
              <label class="form-label">Mode</label>

              <select class="form-select mb-3" name="mode" required>
                <option value="" disabled selected>Select Mode</option>

                <option value="set">Set Matching Stones</option>

                <option value="offset">Offset Matching Stones</option>

                <option value="set_all">Set Entire Inventory</option>

                <option value="offset_all">Offset Entire Inventory</option>
              </select>

              <label class="form-label">Discount CSV</label>

              <input
                type="file"
                name="file"
                accept=".csv"
                class="form-control"
                required
              />
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>

              <button type="submit" class="btn btn-primary">
                Upload Discounts
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="returnModal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Return Stones</h5>

            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <div class="modal-body">
            <input
              id="returnBarcodeInput"
              class="form-control mb-3"
              placeholder="Scan barcode"
            />

            <table class="table">
              <thead>
                <tr>
                  <th>Stock #</th>
                  <th>Status</th>
                </tr>
              </thead>

              <tbody id="returnList"></tbody>
            </table>
          </div>

          <div class="modal-footer">
            <button class="btn btn-success" id="processReturnBtn">
              Process Return
            </button>
          </div>
        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/transactions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stones.js') }}"></script>
    <script src="{{ url_for('static', filename='js/returns.js') }}"></script>
    <script src="{{ url_for('static', filename='js/barcodes.js') }}"></script>
  </body>
</html>
